/* User specific styles go here */

body{
    color: white;
   
}

nav {
    background: linear-gradient(90deg, rgb(212, 0, 0) 1%, rgb(145, 1, 1) 100%);
    margin: 0%;
    box-shadow: 1px 1px 10px black;
}

.wrapper {
    margin: 1%;
    padding: 5%;
    background-color: rgb(84, 84, 84);
    box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-bottom: 15%;
}

#headerlogo {
 height: auto;
 width: 20%;
 
}

button:focus, input:focus {
    outline: none;
}

.logocontainer {
    display: flex;
    justify-content: center;
    padding: 0%;
}

.logo {
    height: 10;
    width: 40%;
    display: flex;
    justify-content: center;
    margin: 5%;
    
}

#pokelist {
    -webkit-appearance: menulist-button;
    height: 50px;
}

.mainsearch {
    display: flex;
    justify-content: center;
    margin: 3%;
}
.pokeSprite {
    visibility: hidden;
    justify-content: center;
    margin-top: 5%;
    border-radius: 75px;
    padding: 2%;
    background: linear-gradient(90deg, rgb(212, 0, 0) 1%, rgb(145, 1, 1) 100%);
    box-shadow: 1px 1px 10px black;
}

.pokeSprite img{
    margin: 2%;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 10px black;
    padding: ;
    border-radius: 50px;
    background-color: white;
   
}
.pokeimg {
    display: flex;
    justify-content: center;
}
#pokename {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: auto;
    padding: 1%;
    font-size: 2em;
    font-family: 'Roboto Slab', serif;

    

    
}

.information {
    display: block;
    text-align: center;
    margin-top: 0%;
    font-family: 'Noto Sans', sans-serif;

}

p {
    font-size: 1.5em;
}

#searchbar {
    border-radius: 10px 0px 0px 10px;
    height: 4em;
    width: 30%;
    text-align: center;
    border: none;
    box-shadow: 5px 5px 10px black;
    border-right: none;
}

#primarybtn {
    border: none;
    border-radius: 0px 10px 10px 0px;
    background: linear-gradient(90deg, rgba(59,76,202,1) 1%, rgb(43, 55, 145) 100%);
    box-shadow: 5px 5px 10px black;
    border-left: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    text-shadow: 0px  -1px 0px rgba(0,0,0,.5);
}

body {
    background-color: rgb(255, 0, 0);
    
}

.github {
    height: auto;
    width: 8%;
    
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
    padding-bottom: 4rem;    
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;           
}
