/* User specific styles go here */


.droplist {
    display: flex;
    justify-content: center;
    margin: 10%;
}
.hero {
    margin: 10%;
    display: flex;
    justify-content: center;
}

#pokelist {
    -webkit-appearance: menulist-button;
    height: 50px;
}

.mainbtn {
    display: flex;
    justify-content: center;
}

.information {
    display: block;
    text-align: center;
    margin-top: 10%;
}

p {
    font-size: 1.5em;
}