/* User specific styles go here */

body{
    color: white;
   
}

nav {
    background-color: rgb(204, 0, 0);
    margin: 0%;
}

.wrapper {
    margin: 1%;
    padding: 5%;
    background-color: rgb(84, 84, 84);
    box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-bottom: 30%;
}

#headerlogo {
 height: auto;
 width: 20%;
 
}

button:focus, input:focus {
    outline: none;
}

.logocontainer {
    display: flex;
    justify-content: center;
    padding: 0%;
}

.logo {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 5%;
    
}

#pokelist {
    -webkit-appearance: menulist-button;
    height: 50px;
}

.mainsearch {
    display: flex;
    justify-content: center;
    margin: 3%;
}
.pokeSprite{
    margin-bottom: 0%;
    display: block;
    text-align: center;
}
.information {
    display: block;
    text-align: center;
    margin-top: 0%;
    font-family: 'Noto Sans', sans-serif;

}

p {
    font-size: 1.5em;
}

#searchbar {
    border-radius: 10px 0px 0px 10px;
    height: 4em;
    width: 30%;
    text-align: center;
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
    border-right: none;
}

#primarybtn {
    border: 1px solid black;
    border-radius: 0px 10px 10px 0px;
    padding: ;
    background-color: rgb(59, 76, 202);
    box-shadow: 5px 5px 10px black;
    border-left: none;
    color: white;
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: rgb(255, 0, 0);
    
}

.github {
    height: auto;
    width: 8%;
    cursor: hand;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
    padding-bottom: 4rem;    
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;           
}
